<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </head>

<body>

<div class="container" ng-app="myapp" ng-controller="myctrl">
  <div class="card box">
    <div class="form-group">
      <div class="card-header">
        <input type="text" class="form-control" ng-model="text">
        <button type="button" class="form-control" ng-click="addItem()">Add Item</button>
      </div>
    </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="item list-group-item" ng-repeat="x in items">
          <span>{{x}}</span>
          <span class="delete_items" ng-click="deleteit($index)">x</span>
          </li>
        </ul>
      </div>
  </div>
</div>


<script src="script.js"></script>
</body>
</html>